main {
    background-color: antiquewhite;
    padding: 0.4rem 2rem 8rem ;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas: 'frame' 'content';
    justify-items: center;
    overflow-x: hidden;
}

body {
    color: black;
}

.content {
	grid-area: content;
	max-width: 400px;
    grid-area: 2 / 1 / 3 / 3;
}

@media screen and (min-width: 53em) {
    main {
        padding: 4rem 6rem 8rem ;
        overflow-x: hidden;
        justify-items: unset;
    }

	.content {
		max-width: none;
		display: grid;
		grid-template-columns: repeat(3,1fr);
		grid-template-rows: 100%;
		grid-column-gap: 5vw;
        grid-area: 2 / 1 / 3 / 3;
	}
}

.title {
    font-family: Cabinet Grotesk, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
    grid-area: 1 / 1 / 2 / 3;
}

@media screen and (min-width: 53em) {
    .title {
        margin-bottom: 0.5rem;
    }
}

@keyframes slideIn {
    0% {
      transform: translateX(900px);
      opacity: 0%;
    }
    30% {
        opacity: 10%;
      }
    100% {
      transform: translateX(0);
      opacity: 100%;
    }
  }

.item {
	margin-bottom: 4rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1.5rem 4rem auto auto 1fr auto;
    justify-items: center;
    animation: slideIn 0.8s forwards;
}

.item__hidden-on-desktop {
    margin-bottom: 5rem;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 1.5rem 4rem auto auto 1fr auto;
    justify-items: center;
}

.item-date {
    font-family: Cabinet Grotesk, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;   
}

.item-title {
    font-family: Satoshi, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.item-img {
    width: 80%;
    aspect-ratio: 864/1280;
    overflow: hidden;
    justify-items: center;
    border: 5px hidden;
    border-radius: 4px;
}

.item-img:hover {
    .item-img-inner{
        width: 100%;
        transform: scale(1.15);
        transition: transform 1200ms;
    }
}

.item-img-inner {
    width: 100%;
    transform: scale(1);
    transition: transform 1200ms;
}

.item-desc {
    font-family: Satoshi, sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.back{
    display: none;
}

.next{
    display: none;
}

@media screen and (min-width: 53em){
    .item__hidden-on-desktop {
        display: none;
    }

    .back {
        display: unset;
        font-family: Satoshi, sans-serif;
        font-size: 1.4rem;
        margin-bottom: 5rem;
        text-align: left;
        text-transform: lowercase;
        a {
            padding: 0.5rem 30px;
            border: 2px solid #000000;
            border-radius: 40px;
        }
        :hover{
            cursor: pointer;
            background-color: black;
            color: white;
        }
    }
    
    .next {
        display: unset;
        font-family: Satoshi, sans-serif;
        font-size: 1.4rem;
        margin-bottom: 5rem;
        text-align: right;
        text-transform: lowercase;
        a {
            padding: 0.5rem (30px + 15.795px);
            border: 2px solid #000000;
            border-radius: 40px;
        }
        :hover{
            cursor: pointer;
            background-color: black;
            color: white;
        }
    }
}

.hide-btn {
    visibility: hidden;
}
